.toggle-button {
  color: green;
}

.box {
  width: 80px;
  height: 80px;
  background-color: blue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: green;
}

.box i {
  width: 100%;
  height: 100%;
  color: white; /* Change icon color */
  font-size: inherit; /* Ensure the font size is adaptable */
  display: flex;
  justify-content: center;
  align-items: center;
}