@font-face {
  font-family: "dinpro";
  src: url("/fonts/DINPRO-REGULAR.OTF") format("opentype");
  font-weight: normal; /* o 'bold' */
  font-style: normal; /* o 'italic' */
}

@font-face {
  font-family: "dinpro";
  src: url("/fonts/DINPRO-BLACK.OTF") format("opentype");
  font-weight: bolder; /* o 'bold' */
  font-style: normal; /* o 'italic' */
}

@font-face {
  font-family: "dinpro";
  src: url("/fonts/DINPRO-BOLD.OTF") format("opentype");
  font-weight: bold; /* o 'bold' */
  font-style: normal; /* o 'italic' */
}

@font-face {
  font-family: "dinpro";
  src: url("/fonts/DINPRO-LIGHT.OTF") format("opentype");
  font-weight: lighter; /* o 'bold' */
  font-style: normal; /* o 'italic' */
}

@font-face {
  font-family: "NeufreitEx";
  src: url("/fonts/NEUFREIT-EXTRABOLD.OTF") format("opentype");
  font-weight: 900; /* o 'bold' */
  font-style: normal; /* o 'italic' */
}

@font-face {
  font-family: "rocket";
  src: url("/fonts/ROCKET-WILDNESS.OTF") format("opentype");
  font-weight: bold; /* o 'bold' */
  font-style: normal; /* o 'italic' */
}
